NODE_ENV=production
PORT=3000

POSTGRES_USER=payex
POSTGRES_PASSWORD=replace-this-password
POSTGRES_DB=payex_billing
POSTGRES_PORT=5432
DATABASE_URL=postgresql://payex:replace-this-password@postgres:5432/payex_billing

REDIS_PORT=6379
REDIS_URL=redis://redis:6379

RABBITMQ_DEFAULT_USER=payex
RABBITMQ_DEFAULT_PASS=replace-this-password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://payex:replace-this-password@rabbitmq:5672
