NODE_ENV=development
PORT=3000

POSTGRES_USER=payex
POSTGRES_PASSWORD=payex
POSTGRES_DB=payex_billing
POSTGRES_PORT=5432
DATABASE_URL=postgresql://payex:payex@postgres:5432/payex_billing

REDIS_PORT=6379
REDIS_URL=redis://redis:6379

RABBITMQ_DEFAULT_USER=payex
RABBITMQ_DEFAULT_PASS=payex
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://payex:payex@rabbitmq:5672
