NODE_ENV=development
PORT=4000

POSTGRES_USER=payex
POSTGRES_PASSWORD=payex
POSTGRES_DB=payex_billing
POSTGRES_PORT=5433
DATABASE_URL=postgresql://payex:payex@postgres:5433/payex_billing

REDIS_PORT=63790
REDIS_URL=redis://redis:63790

RABBITMQ_DEFAULT_USER=payex
RABBITMQ_DEFAULT_PASS=payex
RABBITMQ_AMQP_PORT=56720
RABBITMQ_MANAGEMENT_PORT=15673
RABBITMQ_URL=amqp://payex:payex@rabbitmq:56720
