NODE_ENV=production
PORT=3000

POSTGRES_USER=payex
POSTGRES_PASSWORD=replace-this-password
POSTGRES_DB=payex_billing
POSTGRES_PORT=5433
DATABASE_URL=postgresql://payex:replace-this-password@postgres:5433/payex_billing

REDIS_PORT=63790
REDIS_URL=redis://redis:63790

RABBITMQ_DEFAULT_USER=payex
RABBITMQ_DEFAULT_PASS=replace-this-password
RABBITMQ_AMQP_PORT=56723
RABBITMQ_MANAGEMENT_PORT=15673
RABBITMQ_URL=amqp://payex:replace-this-password@rabbitmq:56723
