node_modules/
dist/
coverage/

.env
.env.*
!.env.example
!.env.development.example
!.env.production.example

*.log
npm-debug.log*

.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/

tmp/
temp/
project_whole_code_source.json
